.logo {
    font-size: 30px;
}

.account {
    font-size: 25px;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.card {
    position: relative;
    width: 370px;
    height: 195px;
    background-color: #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    perspective: 1000px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card:hover .card-content {
    opacity: 1;
    transform: scale(1);
}

.card-title {
    margin: 0;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.2em;
    height: 1.8em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(75, 73, 74);
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: black;
    box-shadow: inset 8px -4px 0 0 white;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #2196f3;
}

.switch input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: yellow;
    box-shadow: none;
}


.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffc107;
    transition: color 0.3s;
}

.bg-box{
    background-color: #cccccc3e;
}

.back-icon{
    color: #ccc; 
    margin-bottom: 0.001px;
}

.back-icon:hover {
    color: #6c757d; 
}

.console-img {
    transition: opacity 0.2s ease, transform 0.2s ease; 
}

.console-name {
    transition: color 0.3s ease;
}

.console-img-wrapper.hover .console-name {
    color: #2196f3;  
}

.console-img-wrapper.hover .original-img {
    transform: scale(1.1);
    transition: opacity 0.2s ease, transform 0.2s ease; 
}

.console-name {
    transition: color 0.3s ease;
    margin-top: 10px;
}





